<div class="btn-group">
  <selecter model="cpf.type" options="types" class="cpf"></selecter>
  <input type="text"
         class="form-control"
         ng-if="cpf.type.type == 'constant'"
         ng-model="cpf.value">
  <property model="cpf.name"
            schema="schemas[schemaIndex]"
            ng-if="cpf.type.type == 'property'">
  </property>
  <selecter model="cpf.func"
            options="functions"
            ng-if="cpf.type.type == 'function'">
  </selecter>
</div>
<value type="text"
       ng-if="cpf.type.type == 'function'"
       ng-repeat-start="arg in cpf.func.options"
       ng-model="cpf.args[cpf.func.options.indexOf(arg)]"
       placeholder="{{ arg.name }}"></value>
<span ng-repeat-end></span><!-- Hack to insert whitespace for inline-block -->
