<div class="board container-fluid">
  <header>
    <div class="panel-navigation pull-right">
      <button type="button" class="btn btn-success" ng-click="addPanel()">
        <span class="ti-plus"></span> Panel
      </button>
    </div>                                                                      
    <span class="input-bar">
      <input type="text" class="form-control board-title"
             placeholder="New board"
             class="board-title"
             ng-model="boardData.title"
             ng-class="{ required: missingTitle }"/>
    </span>
  </header>
  <div class="row" ng-repeat="panel in boardData.panels">
    <div class="col-xs-12">
      <div class="panel panel-default"
           ng-cloak>
        <div class="panel-heading">
          <span class="title" ng-bind="panel.title" ng-if="panel.title"></span>
          <span class="title untitled" ng-if="!panel.title">Untitled panel</span>
          <div class="buttons">
            <a target="_blank"
               download="{{ panel.title + '.csv'}}"
               ng-click="downloadCSV(panel, $event)"
               ng-if="panel.cache.data.events.length > 1">
              <span class="ti-download"></span>
            </a>
            <a ng-click="panelSettingsModal(panel, $index)">
              <span class="ti-settings"></span>
            </a>
          </div>
        </div>
        <div class="visualization-container">
          <div class="loader" ng-show="panel.cache.loading">
            <span class="fa fa-circle-o-notch fa-spin"></span>
          </div>
          <visualization ng-repeat="visualization in panel.cache.visualizations"
                         module="visualization"
                         ng-if="!panel.cache.schemaNeedsTransform &&
                                panel.cache.data.events.length &&
                                visualization.meta.title == panel.display.display_type">
            <div class="loader">
              <span class="fa fa-circle-o-notch fa-spin"></span>
            </div>
          </visualization>
        </div>
      </div>
    </div>
  </div>
</div>
