Banyan==0.1.5
boto==2.29.1
cassandra-driver==2.0.2
greenlet==0.4.2
gevent==1.0.1
geventhttpclient==1.1.0
gipc==0.4.0
leveldb==0.193
pycassa==1.11.0
python-dateutil==2.2
python-snappy==0.5
requests==2.3.0
uwsgi==2.0.5.1
werkzeug==0.9.6
