<div class="operator-arg-set row"
     ng-repeat="aggregate in step.operation.operands.aggregates">
  <a class="remove-arg"
     ng-if="step.operation.operands.aggregates.length > 1"
     ng-click="removeOperand($index, step.operation.operands.aggregates)">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
  <div class="arg-group">
    <div class="col-xs-12 col-md-3">
      <aggtype ng-model="aggregate.agg_type"></aggtype>
    </div>
    <div class="col-xs-12 col-md-6">
      <span ng-if="aggregate.agg_type == 'Count'">
        <cpf ng-model="aggregate.agg_on" type="property" optional></cpf>
      </span>
      <span ng-if="aggregate.agg_type != 'Count'">
        <cpf ng-model="aggregate.agg_on"
             ng-class="{'vqb-invalid': vqbInvalid()}"></cpf>
      </span>
    </div>
    <div class="col-xs-12 col-md-3">
      <value placeholder="Store result in"
             ng-model="aggregate.alias"
             alters-schema>
      </value>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addOperand(step.operation.operands.aggregates)">
  <span class="ti-plus"></span>
  Add aggregate
</button>
<div><strong>Group by</strong></div>
<div class="operator-arg-set row"
     ng-repeat="group in step.operation.operands.groups">
  <a class="remove-arg"
     ng-if="step.operation.operands.groups.length > 1"
     ng-click="removeOperand($index, step.operation.operands.groups)">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
  <div class="arg-group">
    <div class="col-xs-12 col-md-8">
      <cpf ng-model="group.field" ng-class="{'vqb-invalid': vqbInvalid()}">
      </cpf>
    </div>
    <div class="col-xs-12 col-md-4">
      <value ng-model="group.alias" placeholder="Store result in"
             alters-schema></value>
    </div>
  </div>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addOperand(step.operation.operands.groups)">
  <span class="ti-plus"></span>
  Add group 
</button>
