@media (min-width: $screen-lg-min) {
  .modal-lg {
    width: 90%;
    max-width: 1280px;
  }
}

@media (min-width: $screen-md-min) {
  .modal-dialog {
    width: 90%;
  }
}

@media (min-width: $screen-sm-min) {
  .modal-dialog {
    width: 90%;
  }
}

.modal-header {
  &.contains-input {
    button.delete-panel {
      float: right;
    }
  }
  input {
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
  }
}

.modal-content {
  div.code {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    margin: 10px -15px;
  }
}
