.modal-header {
  &.contains-input {
    button.delete-panel {
      float: right;
    }
  }
  input {
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
  }
}

.modal-content {
  div.code {
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    margin: 10px -15px;
  }
}
