<div class="operator-arg-set"
     ng-repeat="aggregate in step.operation.operands['aggregates']">
  <aggtype arg="aggregate['agg_type']"></aggtype>
  <span ng-if="aggregate['agg_type'] == 'count'">
    of <cpf arg="aggregate['agg_on']" type="property"></cpf>
  </span>
  <span ng-if="aggregate['agg_type'] != 'count'">
    of <cpf arg="aggregate['agg_on']"></cpf>
  </span>
  <div class="eol-group">
    Store result in
    <value placeholder="'new field'"
           arg="aggregate['alias']"
           alters-schema="step">
    </value>
    <button class="btn btn-danger btn-xs"
            ng-click="removeOperand($index, step.operation.operands['aggregates'])">
      &times;
    </button>
  </div>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addOperand(step.operation.operands['aggregates'])">
  <span class="glyphicon glyphicon-plus"></span>
  Add aggregate
</button>
<div><br><strong>Group by</strong></div>
<div class="step.operation-arg-set"
     ng-repeat="group in step.operation.operands['groups']" >
  <cpf arg="group['field']"></cpf>
  <div class="eol-group">
    Store result in
    <value arg="group['alias']" alters-schema="step"></value>
  </div>
  <button class="btn btn-danger btn-xs"
          ng-click="removeOperand($index, step.operation.operands['groups'])">
    &times;
  </button>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addOperand(step.operation.operands['groups'])">
  <span class="glyphicon glyphicon-plus"></span>
  Add group 
</button>
