<div class="operator-arg-set"
     ng-repeat="field in step.operation.operands['fields']">
  <cpf arg="field['name']" exclue="constant"></cpf>
  <button class="btn btn-danger btn-xs"
          ng-click="removeOperand($index, step.operation.operands['fields'])">
    &times;
  </button>
</div>
<button class="btn btn-primary btn-xs"
        ng-click="addOperand(step.operation.operands['fields'])">
  <span class="glyphicon glyphicon-plus"></span>
  Add order by
</button>
<div class="reverse-order">
  <direction arg="step.operation.operands['order']"></direction>
</div>
