<!DOCTYPE html>
<html lang="en" ng-app="jia">
  <head>
    <meta charset="utf-8">
    <title>Jia -- Dashboard for the Chronology Project</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cambo">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- build:css /static/build/css/jia.css -->
    <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="/static/lib/css/codemirror.css"/>
    <link rel="stylesheet" href="/static/lib/css/codemirror-mdn-like.css"/>
    <link rel="stylesheet" href="/static/lib/css/datetimepicker.css"/>
    <link rel="stylesheet" href="/static/lib/css/select.min.css"/>
    <link rel="stylesheet" href="/static/lib/css/rickshaw.min.css">
    <link rel="stylesheet" href="/static/lib/css/ng-table.min.css">
    <link rel="stylesheet" href="/static/lib/css/c3.css">
    <link rel="stylesheet" href="/static/app/visualizations/gauge/gauge.css">
    <link rel="stylesheet" href="/static/css/board.css">
    <!-- endbuild -->
  </head>

  <body>
    <div ng-view></div>
    <script>
      var JIA_ALLOW_PYCODE = <% pycode %>;
    </script>
    <!-- build:js /static/build/js/jia.js -->
    <!-- 3rd party libs -->
    <script src="/static/lib/js/underscore.min.js"></script>
    <script src="/static/lib/js/angular.min.js"></script>
    <script src="/static/lib/js/angular-sanitize.min.js"></script>
    <script src="/static/lib/js/angular-route.min.js"></script>
    <script src="/static/lib/js/mousetrap.min.js"></script>
    <script src="/static/lib/js/codemirror.min.js"></script>
    <script src="/static/lib/js/codemirror-python-mode.js"></script>
    <script src="/static/lib/js/ui-codemirror.js"></script>
    <script src="/static/lib/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="/static/lib/js/jquery.min.js"></script>
    <script src="/static/lib/js/bootstrap.min.js"></script>
    <script src="/static/lib/js/icheck.min.js"></script>
    <script src="/static/lib/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="/static/lib/bootflat/js/jquery.fs.stepper.min.js"></script>
    <script src="/static/lib/js/moment.min.js"></script>
    <script src="/static/lib/js/datetimepicker.js"></script>
    <script src="/static/lib/js/select.min.js"></script>

    <!-- Internal libs -->
    <script src="/static/app/selecter/ng-selecter.js"></script>

    <!-- Timeseries -->
    <script src="/static/lib/js/d3.min.js"></script>
    <script src="/static/lib/js/rickshaw.min.js"></script>
    <script src="/static/lib/js/angular-rickshaw.js"></script>
    <script src="/static/app/visualizations/timeseries/timeseries.js"></script>
    
    <!-- Table -->
    <script src="/static/lib/js/ng-table.min.js"></script>
    <script src="/static/app/visualizations/table/table.js"></script>
    
    <!-- Gauge -->
    <script src="/static/app/visualizations/gauge/gauge.js"></script>

    <!-- Bar Chart -->
    <script src="/static/lib/js/c3.min.js"></script>
    <script src="/static/app/c3/angular-c3.js"></script>
    <script src="/static/app/visualizations/barchart/barchart.js"></script> 

    <!-- Jia -->
    <script src="/static/app/jia.js"></script>
    <script src="/static/app/editboard/querybuilder.js"></script>
    <script src="/static/app/editboard/editboard.js"></script>
    <!-- endbuild -->
  </body>
</html>
