<nav class="navbar navbar-default navbar-fixed-top"
     role="navigation"
     ng-controller="NavigationController">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand">
        <span class="ti-bar-chart"></span> Jia
      </span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="btn-bar">
      <ul class="nav navbar-nav">
        <li ng-repeat="button in toolbarButtons">
          <a ng-click="button.action()"
             ng-class="{'disabled': button.disabled()}"
             ng-hide="button.hidden()"
             tooltip="{{ button.title }}"
             tooltip-placement="bottom">
            <span class="{{ button.icon }}"></span>
          </a>
        </li>
      </ul>
    </div><!-- /.btn-bar -->
  </div><!-- /.container-fluid -->
</nav>
